<.flash_group flash={@flash} />

<h2>Daftar Episode</h2>

<div class="episodes">
  <%= for episode <- @episodes do %>
    <div class="episode">
      <img src={episode.artwork} alt="Episode 1" />
      <h3><%= episode.title %></h3>
      <p><%= episode.description %></p>
      <a href="#">Lihat Episode</a>
    </div>
  <% end %>
</div>
